.AutoList {
  max-width: 895px;
  margin: 0 auto;
  height: 100%;
  padding-top: 65px;
}

.AutoList-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AutoList-Title {
  font-weight: 900;
  color: #232a36;
  font-size: 3em;
}

.AutoList-Text {
  color: #232a36;
  font-size: 1.15em;
  font-weight: 600;
  line-height: 1.6em;
  position: relative;
  cursor: pointer;
}

.AutoList-Text_type_price {
  padding-right: 75px;
}

.AutoList-Text_type_filter {
  display: inline-block;
  margin-right: 20px;
}

.AutoList-Text_type_filter:last-child {
  margin-right: 0;
}

.AutoList-Text_sellected {
  border-bottom: 2px solid #1fa4d4;
}

.AutoList-Text_type_price:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 13px;
  background-image: url("./AutoList-grid.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: 37px;
  top: 50%;
  margin-top: -6px;
  cursor: pointer;
}

.AutoList-Text_type_price:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 13px;
  background-image: url("./AutoList-row.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  top: 50%;
  margin-top: -6px;
  cursor: pointer;
}

.AutoList-Section_type_filter {
  margin-top: 10px;
  margin-bottom: 30px;
}

.AutoList-Section_type_types {
  margin-bottom: 40px;
  height: 125px;
}

.AutoList-Filter {
  list-style: none;
  margin: 0;
  padding: 0;
}

.AutoList-TypeCard {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 125px;
  width: calc(25% - 5px);
  border-radius: 3px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
}

.AutoList-TypeCard:last-child {
  width: 25%;
  margin-right: 0;
}

.AutoList-TypeCard_type_new {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)),
    url("./AutoList-new.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.AutoList-TypeCard_type_fast {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)),
    url("./AutoList-fast.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.AutoList-TypeCard_type_eco {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)),
    url("./AutoList-eco.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.AutoList-TypeCard_type_suv {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)),
    url("./AutoList-suv.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.AutoList-Type {
  color: white;
  font-size: 1.43em;
  margin: 0;
  font-weight: 900;
}

.AutoList-CarsNum {
  font-size: 0.9em;
  color: #f5f7f9;
}
